.bio-image {
	        height: 200px;
	        position: relative;
	        border-radius: 200px;
	        margin-left: 80px
}

.small-line-height {
	                line-height:0;
}

.big-line-height {
	              line-height: 200%
}

#nav {
	  float: left;
	  background-color: #e6cac6;
	  width: 320px;
	  padding: 15px;
}

.underline {
			text-decoration: underline;
}

.section {
		  float: left;
		 border-top: 500px;
}

#name {
	   text-align: center;
	   

}

h1 {
	color: #ffffff;
	font-size: 500%;
} 

h2 {
	text-decoration: underline;
}

.center {
		text-align: center;
}