.bio-image {
	height: 200px;
	position: relative;
	border-radius: 200px;
}

.small-line-height {
	line-height:0;
}

.big-line-height {
	line-height: 200%
}

#nav {
	background: rgba(169, 169, 169, 0.5);
	padding: 15px;
   
}

#text {
	color: #ffffff;	
}

.underline {
	text-decoration: underline;
}

.section {
   border-top: 500px;
}

#name {
   text-align: center;
   background: rgba(0, 0, 0, 0.6);
   margin-bottom: 78px;
   margin-top: 80px;
}

h1 {
	color: #ffffff;
	font-size: 500%;
} 

h2 {
	text-decoration: underline;
	color: #ffffff;
}

h4 {
	color: #ffffff;
}

.center {
	text-align: center;
	margin-top: 80px;
}

.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}

.col-centered{
    float: none;
    margin: 0 auto;
}

body {
	background-image: url(road.jpg);
	background-attachment: fixed;
	background-repeat: no-repeat
	background-size: cover;
	background-position: 50% 30%;

}

p {
	color: #ffffff;
}

td {
	color: #ffffff;
}

tr {
	color: #ffffff;
}

a {
   color: #ffffff;
   text-decoration: underline;

}

a:hover {
		color: black;
} ;